@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
body {
    font-family: Roboto;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}
a {
    all: unset;
}
a:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.font-bold {
    font-family: "Roboto Bold";
}

.swiper {
    width: 80%;
    height: 100%;
    padding: 100px;
}
.swiper-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
/*.swiper-container .swiper-pagination{*/
/*    bottom: -30px!important;*/
/*}*/
.swiper-button-next, .swiper-rtl, .swiper-button-prev {
    color: #7e22ce!important;
}

.swiper-slide {
    height: auto!important;
}

.swiper-content {
    height: 100% !important
}

.swiper-pagination-bullet-active {
    background: #7e22ce!important;
}

.title-swiper-slide__release-date {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.title-swiper-slide__image {
    object-fit: contain;
}
.season-swiper-slide__image {
    object-fit: contain!important;
    height: 100%!important;
}

.swiper-seasons {
    height: 300px;
}

.bottom-text {
    position: absolute;
    width: 102.4%;
    bottom: 5px;
}
@media screen and (max-width: 980px) {
    .bottom-text {
        width: 103%;
    }
}
.shadow-slider {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-wrapper-seasons {
    transition-timing-function: linear!important;
}

.swiper-seasons {
    width: 100%;
}

